<header>
    <h1>angular-loading-dots</h1>
    <h2>Angular directive for displaying loading dots in the form of text</h2>
</header>

<section id="downloads" class="clearfix">
    <a href="https://github.com/yvesmh/angular-loading-dots/zipball/master" id="download-zip" class="button"><span>Download .zip</span></a>
    <a href="https://github.com/yvesmh/angular-loading-dots/tarball/master" id="download-tar-gz" class="button"><span>Download .tar.gz</span></a>
    <a href="https://github.com/yvesmh/angular-loading-dots" id="view-on-github" class="button"><span>View on GitHub</span></a>
</section>

<hr>